# Never install per-platform native optionalDependencies — specifically, this
# skips every @next/swc-<platform>-msvc/gnu/musl binary (Next lists all of them
# as optionalDependencies of `next` itself). With none present, Next's SWC
# loader skips the native attempt entirely and uses @next/swc-wasm-nodejs
# (pinned as a regular dependency in package.json) — pure WASM, zero dependency
# on the host's C++ runtime. This is what makes the app work unmodified on a
# restricted/32-bit client VM where installing system libraries (e.g. the VC++
# Redistributable) isn't possible: `node scripts/install.js` alone is enough.
# Tradeoff: slower Next dev/build compiles than a working native binary would
# give — acceptable here since this app is only ever run locally, never hosted.
omit=optional
